@import "tailwindcss";
@plugin "daisyui" {
  themes: dark --default light;
}

@plugin "daisyui/theme" {
  name: "dark";
  default: true;
  --color-primary: #F09A00;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #F09A00;
}
